body {
   margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #98d083;
    background-color: #71a0a5;
    padding: 15px;
    
}

.card {

}

#recipeImage{
    width: 100%;
    height: 600px;
    object-fit: cover;
}


