* {
    font-family: 'Andika New Basic', sans-serif;
}

body {
    background-color: #f2f2f2;
}

#navBar {
    text-align: center;
}


h1 {
    text-align: center;
    color: #93c178;
    font-size: 60px;
    margin: 2%;
}

h2 {
    text-align: center;
    color: #93c178;
    font-size: 54px;
}



#recipeImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.nav-wrapper {
    background-color: #465c8b;
}

.paragragh-1 {
    color: #93c178;
    font-size: 30px;
    margin-left: 1px;
}

h5 {
    color: #93c178;
    font-size: 35px;
}

.dropdown-trigger {
    color: #93c178;
    font-size: 30px;
}

h3 {
    color: #93c178;
    font-size: 45px;
    text-align: center;
}

h6 {
    text-align: center;
    color: #93c178;
    font-size: 35px;

}

.veg-pic {
    position: absolute;
    width: 20%;
    float: center;
    right: 45px;
    margin-top: 10%;
}

.paragraph-2 {
    color: #93c178;
    text-align: center;
    font-size: 28px;
}

#recipeResults {
    text-align: center;
    font-size: 30px;
    color: #93c178;
}

#workoutTitle {
    text-align: center;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
}

#recipeSearch {
    width: calc(100% - 95px);
    box-shadow: none;
    border: 1px solid #9e9e9e;
    border-right: none !important;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
}

.recipeSearchButton {
    height: 42px;
    border-radius: 0px 10px 10px 0px !important;
    box-shadow: none;
    background-color: #498a72;
}

.userInfoContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.preferenceItem {
    width: 150px !important;
    padding: 10px .75rem 20px !important;
    color: black !important;
}

.dietContainer {
    width: 300px;
}

.rounded {
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    width: 100%;
    margin: 25px 0px;
}

.radioOption {
    padding-top: 10px !important;
}

.resultTile {
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 15px;
}

.resultTile:hover {
    background-color: #dff9f3;
}

.resultImage {
    height: 150px;
}

.resultText {
    margin-left: 15px;
}