body {
    background-color: #f2f2f2;
}

#navBar {
    text-align: center;
}


h1 {
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 60px;
    margin: 2%;


}

h2 {
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 54px;
}



#recipeImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.nav-wrapper {
    background-color: rgb(160, 190, 126);
}

.brand-logo {}

.paragragh-1 {
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 30px;
    margin-left: 1px;
}

h5 {
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 35px;
}

.dropdown-trigger {
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 30px;
}

h3 {
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    font-size: 45px;
    text-align: center;
}

h6 {
    text-align: center;
    color: #6b8c42;
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 35px;

}

.veg-pic {
    position: absolute;
    width: 20%;
    float: center;
    right: 45px;
    margin-top: 10%;
    box-shadow: -30px 30px 20px rgba(, 0, 0, 0.3);

}

.paragraph-2 {
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    text-align: center;
    font-size: 28px;
}

#recipeResults {
    text-align: center;
    font-size: 30px;
    font-family: 'Marcellus SC', serif;
    font-family: 'Nanum Pen Script', cursive;
    color: #6b8c42;
    box-shadow: -20px 30px 20px rgba(0, 0, 0, 0.3);
}

#workoutTitle {
    text-align: center;
}

#centered {
    
}